.block
  .color--pink ----Container Element----
  %h1.title 
    Devise Authentication
  %p.subtitle 
    Session Based Demo

  .color--pink Block Elements
  .block
    %strong
      Rails
  .block
    %strong
      Devise
  .block
    %strong
      Bulma
  .block
    %strong
      HAML format
  .block
    %strong
      JS for dismissing notification
  .color--pink Block End

  
  .block
  %h1.title Hello Bulma  H1 Title
  %h2.subtitle Demo Elements H2 subtitle
  / Sizes
  %h1.title.is-1 Hello World -- H1.is-1
  %h2.title.is-2 Hello World -- H2.is-2
  %h3.title.is-3 Hello World -- H3.is-3
  %h4.title.is-4 Hello World -- H4.is-4
  %h5.title.is-5 Hello World -- H5.is-5
  %h6.title.is-6 Hello World -- H6.is-6
/ CONTENT
.block
  %p.content.is-small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, rerum?
  %p.content.is-medium Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, rerum?
  %p.content.is-large Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, rerum?
/ BUTTONS
.block
  %button.button Button
  %button.button.is-white Button
  %button.button.is-light Button
  %button.button.is-dark Button
  %button.button.is-black Button
  %button.button.is-link Button
.block
  %a.button.is-primary{href: ""} Primary
  %a.button.is-info{href: ""} Info
  %a.button.is-success{href: ""} Success
  %a.button.is-warning{href: ""} Warning
  %a.button.is-danger{href: ""} Danger
.block
  %a.button.is-primary.is-small{href: ""} Primary
  %a.button.is-info.is-medium{href: ""} Info
  %a.button.is-success.is-large{href: ""} Success
.block
  %a.button.is-primary.is-outlined{href: ""} Primary
  %a.button.is-info.is-outlined{href: ""} Info
  %a.button.is-success.is-outlined{href: ""} Success
  %a.button.is-warning.is-outlined{href: ""} Warning
  %a.button.is-danger.is-outlined{href: ""} Danger
.block
  %a.button.is-primary.is-inverted{href: ""} Primary
  %a.button.is-info.is-inverted{href: ""} Info
  %a.button.is-success.is-inverted{href: ""} Success
  %a.button.is-warning.is-inverted{href: ""} Warning
  %a.button.is-danger.is-inverted{href: ""} Danger
.block
  %a.button.is-hovered{href: ""} Hovered
  %a.button.is-focused{href: ""} Focused
  %a.button.is-active{href: ""} Active
  %a.button.is-loading{href: ""} Loading
  %a.button{disabled: "disabled", href: ""} Disabled
/ BOX
.block
  .box{style:"width: auto;"}
    %h1.title Hello World
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.
/ NOTIFICATIONS
.block
  .notification
    %button.delete
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quisquam!
  .notification.is-primary
    %button.delete
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quisquam!
  .notification.is-info
    %button.delete
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quisquam!
  .notification.is-success
    %button.delete
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quisquam!
  .notification.is-warning
    %button.delete
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quisquam!
  .notification.is-danger
    %button.delete
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quisquam!
/ TAGS
.block
  %span.tag Hello
  %span.tag.is-black Black
  %span.tag.is-dark Dark
  %span.tag.is-light Light
  %span.tag.is-white White
  %span.tag.is-primary Primary
  %span.tag.is-info Info
  %span.tag.is-success Success
  %span.tag.is-warning.is-medium Warning
  %span.tag.is-danger.is-large
    Danger
    %button.delete
/ MESSAGES
.block
  %article.message
    .message-header
      %p About Us
    .message-body
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi, facilis laudantium eaque repudiandae optio asperiores quos cumque minus, officia at necessitatibus soluta ut odit incidunt sint blanditiis obcaecati inventore.
  %article.message.is-primary
    .message-header
      %p About Us
    .message-body
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi, facilis laudantium eaque repudiandae optio asperiores quos cumque minus, officia at necessitatibus soluta ut odit incidunt sint blanditiis obcaecati inventore.
  %article.message.is-success
    .message-header
      %p About Us
    .message-body
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi, facilis laudantium eaque repudiandae optio asperiores quos cumque minus, officia at necessitatibus soluta ut odit incidunt sint blanditiis obcaecati inventore.
  %article.message.is-info
    .message-header
      %p About Us
    .message-body
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi, facilis laudantium eaque repudiandae optio asperiores quos cumque minus, officia at necessitatibus soluta ut odit incidunt sint blanditiis obcaecati inventore.
  %article.message.is-warning
    .message-header
      %p About Us
    .message-body
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi, facilis laudantium eaque repudiandae optio asperiores quos cumque minus, officia at necessitatibus soluta ut odit incidunt sint blanditiis obcaecati inventore.
  %article.message.is-danger
    .message-header
      %p About Us
    .message-body
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi, facilis laudantium eaque repudiandae optio asperiores quos cumque minus, officia at necessitatibus soluta ut odit incidunt sint blanditiis obcaecati inventore.
/ NAVBAR
.block
  %nav.nav
    .nav-left
      %a.nav-item{href: ""}
        %h1.title.is-4 Traversy Media
    .nav-center
      %a.nav-item{href: ""}
        %span.icon
          %i.fa.fa-github
      %a.nav-item{href: ""}
        %span.icon
          %i.fa.fa-twitter
    .nav-right.nav-menu
      %a.nav-item{href: "#"} Home
      %a.nav-item{href: "#"} About Us
      %a.nav-item{href: "#"} Contact
/ SIDE MENU
.block
  %aside.menu
    %p.menu-label
      Label 1
    %ul.menu-list
      %li
        %a{href: ""} Link 1
      %li
        %a{href: ""} Link 1
    %p.menu-label
      Label 2
    %ul.menu-list
      %li
        %a.is-active{href: ""} Link 1
        %ul
          %li
            %a{href: ""} Link 1
          %li
            %a{href: ""} Link 1
          %li
            %a{href: ""} Link 1
      %li
        %a{href: ""} Link 2
      %li
        %a{href: ""} Link 3
/ HERO
.block
  %section.hero
    .hero-body
      .container
        %h1.title Hero Title
        %h2.subtitle Hero Subtitle
  %section.hero.is-primary
    .hero-body
      .container
        %h1.title Hero Title
        %h2.subtitle Hero Subtitle
  %section.hero.is-success
    .hero-body
      .container
        %h1.title Hero Title
        %h2.subtitle Hero Subtitle
  %section.hero.is-info
    .hero-body
      .container
        %h1.title Hero Title
        %h2.subtitle Hero Subtitle
  %section.hero.is-warning
    .hero-body
      .container
        %h1.title Hero Title
        %h2.subtitle Hero Subtitle
  %section.hero.is-danger
    .hero-body
      .container
        %h1.title Hero Title
        %h2.subtitle Hero Subtitle
/ CARD
.block
  .card
    .card-content
      %p.title
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, adipisci.
    %footer.card-footer
      %p.card-footer-item
        %span
          %a{href: ""}
            %i.fa.fa-twitter>
            Twitter
      %p.card-footer-item
        %span
          %a{href: ""}
            %i.fa.fa-facebook>
            Facebook
/ PAGINATION
.block
  %nav.pagination
    %a.pagination-previous{disabled: "disabled", href: ""} Previous
    %a.pagination-next{href: ""} Next page
    %ul.pagination-list
      %li
        %a.pagination-link.is-current{href: ""} 1
      %li
        %a.pagination-link{href: ""} 2
      %li
        %a.pagination-link{href: ""} 3
/ LEVEL
.block
  %nav.level
    / left side
    .level-left
      %p.level-item
        %a
          %strong All
      %p.level-item
        %a Published
      %p.level-item
        %a Draft
      %p.level-item
        %a Deleted
      %p.level-item
        %a.button.is-primary New
    / right side
    .level-right
      .level-item
        .field
          %p.control
            %input.input{placeholder: "Search posts...", type: "text"}/
/ FORMS
.block
  %form
    .field
      %label.label Name
      %input.input{placeholder: "Enter Name", type: "text"}/
    .field
      %label.label Name
      %input.input.is-success{placeholder: "Enter Name", type: "text"}/
    .field
      %label.label Name
      %input.input.is-danger{placeholder: "Enter Name", type: "text"}/
    .field
      %label.label Package
      %p.control
        %span.select
          %select
            %option Select dropdown
            %option Simple
            %option Standard
            %option Super
    .field
      %label.label Message
      %p.control
        %textarea.textarea{placeholder: "Textarea"}
/ ATTACHED
.block
  .field.has-addons
    %p.control
      %input.input{placeholder: "Enter keywords...", type: "text"}/
    %p.control
      %a.button.is-info{href: ""} Search
.block
  .field.has-addons
    %p.control
      %span.select
        %select
          %option $
          %option £
          %option €
    %p.control
      %input.input{placeholder: "Enter amount", type: "text"}/
    %p.control
      %a.button.is-info{href: ""} Pay
/ TABLES
.block
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
    %tbody
      %tr
        %td Rick Grimes
        %td rgrimes@gmail.com
        %td 555-555-5555
      %tr.is-selected
        %td Daryl Dixon
        %td daryl@gmail.com
        %td 112-334-5566
      %tr
        %td Glen Rhee
        %td glen@gmail.com
        %td 333-444-5555
      %tr
        %td Carol Peletier
        %td carol@gmail.com
        %td 343-344-5543
  %table.table.is-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
    %tbody
      %tr
        %td Rick Grimes
        %td rgrimes@gmail.com
        %td 555-555-5555
      %tr
        %td Daryl Dixon
        %td daryl@gmail.com
        %td 112-334-5566
      %tr
        %td Glen Rhee
        %td glen@gmail.com
        %td 333-444-5555
      %tr
        %td Carol Peletier
        %td carol@gmail.com
        %td 343-344-5543
  %table.table.is-bordered
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
    %tbody
      %tr
        %td Rick Grimes
        %td rgrimes@gmail.com
        %td 555-555-5555
      %tr
        %td Daryl Dixon
        %td daryl@gmail.com
        %td 112-334-5566
      %tr
        %td Glen Rhee
        %td glen@gmail.com
        %td 333-444-5555
      %tr
        %td Carol Peletier
        %td carol@gmail.com
        %td 343-344-5543
  %table.table.is-narrow.is-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
    %tbody
      %tr
        %td Rick Grimes
        %td rgrimes@gmail.com
        %td 555-555-5555
      %tr
        %td Daryl Dixon
        %td daryl@gmail.com
        %td 112-334-5566
      %tr
        %td Glen Rhee
        %td glen@gmail.com
        %td 333-444-5555
      %tr
        %td Carol Peletier
        %td carol@gmail.com
        %td 343-344-5543
/ GRID SYSTEM
.block
  .columns
    .column
      %p.notification First Column
    .column
      %p.notification Second Column
    .column
      %p.notification Third Column
    .column
      %p.notification Fourth Column
.block
  .columns
    .column.is-2
      %p.notification 2 column
    .column.is-8
      %p.notification 8 Column
    .column.is-2
      %p.notification 2 Column
.block
  .columns
    .column.is-three-quarters
      %p.notification is-three-quarters
    .column
      %p.notification Auto
    .column
      %p.notification Auto
.block
  .columns
    .column.is-two-thirds
      %p.notification is-two-thirds
    .column
      %p.notification Auto
    .column
      %p.notification Auto
.block
  .columns
    .column.is-half
      %p.notification is-half
    .column
      %p.notification Auto
    .column
      %p.notification Auto
/ /. container
